
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/digital-g1.jpg);
    background-size: cover;
    max-width: 100vw;
}

.footer {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    filter: opacity(80%);
    padding: 2rem 4rem;
}

.section {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.central{
    margin-bottom: 3rem;
    justify-content: space-between;
}

.sub-section {
    width: 25%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sub-text {
    padding-top: 2.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.links a{
    margin: 0 1rem;
}

.contacts {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: left;
}

.text {
    font-size: 1rem;
    font-weight: normal;
}

.foot {
    padding-top: 2rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.foot p {
    font-weight: bold;
    margin: 0 2rem;
}

.mark{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: left;
    margin-bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.sect-logo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: auto;
}

.div-logo{
    padding-top: 2.5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    height: auto;
}

.logo{
    font-size: 4rem;
    margin-right: .5rem;
    font-weight: bold;
}

.div-logo h3{
    font-size: 2rem;
}

/* RESPONSIVE */

@media (max-width: 1000px) {

    .container{
        max-width: 100vw;
    }

    .footer{
        margin-top: 3rem;
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sub-section {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sub-text {
        padding-top: 2.5rem;
    }

    .contacts {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    .text {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
    }

    .foot {
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .mark{
        font-size: .9rem;
    }

    .mark .text{
        margin-top: 1rem;
    }

    .foot p {
        font-weight: bold;
        margin: 0 .6rem;
    }

    p {
        text-align: center;
    }

    a {
        text-decoration: none;
        text-align: center;
        margin-bottom: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .links a{
        margin: 0 .5rem;
    }

    .contacts-title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .contacts-title .title{
        display: none;
    }

    a p{
        display: none;
    }

    .icon {
        width: 1.5rem;
        margin: 0 1rem;
    }

    .sect-logo{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: auto;
    }
    
    .div-logo{
        padding-top: 2.5rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        height: auto;
    }
    
    .logo{
        font-size: 4rem;
        margin-right: .5rem;
        font-weight: bold;
    }
    
    .div-logo h3{
        font-size: 2rem;
    }    

}

@media (max-width: 728px) {

    .container{
        padding: 0;
        margin: 0;
        max-width: 100vw;
    }
    
}

@media (max-width: 688px) {

    .container{
        padding: 0;
        margin: 0;
        max-width: 100vw;
    }
    
}

@media (min-width: 688px) {

    .container{
        padding: 0;
        margin: 0;
        max-width: 100vw;
    }
    
}